<div class="toolbar">
	<div class="toolbar-header">{{toolbarTitle}}</div>
	<div class="toolbar-tools">
		{{#each tools}}
			<a class="toolbar-tools-tool" data-role="toolbar-tool" data-tool-type="{{value}}">{{{label}}}</a>
		{{/each}}
	</div>
</div>

